body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
  }
  
  button.btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  button.btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  button.btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  tr {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
  } 

  th{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 10px;
  }
  
  li:last-child {
    border-bottom: none;
  }

  .completed_checkbox {
    margin-right: 10px;
  }
  
.task-completed {
  text-decoration: line-through;
  color: #888; /* You can choose your own color */
}

  
  .app{
    margin:10px;
    border: 1px solid;
  }

  .todo-template{
    padding: 10px;
  }
  ul{
    border: 1px solid;
  }
  .checkbox-all{
    margin: 10px;
  }



  .completed_checkbox{
    border: 1px solid;
  }

  th:nth-child(4) {
    width: 3%;
}

th:nth-child(1) {
  width: 1%;
}

th:nth-child(3) {
  width: 30%;
}

.delete-button, .profile_img {
  cursor: pointer;
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.update_message{
  color: grey;
  font-size: 10px;
}